[submodule "vendor/plugins/ssl_requirement"]
	path = vendor/plugins/ssl_requirement
	url = git://github.com/bcurren/ssl_requirement.git
[submodule "vendor/plugins/exception_notification"]
	path = vendor/plugins/exception_notification
	url = git://github.com/rails/exception_notification.git
