app/.DS_Store
db/.DS_Store
log/*.log
tmp/**/*
.DS_Store
public/cache/**/*
doc/api
doc/app
config/database.yml
db/*.sqlite3
assets/*
www2.tmproj
www2.esproj
www2.kpf
.tmtags
.idea/*
tmp/restart.txt
mkmf.log
www2.mvimsession
db/www2_development_2010-07-14.sql
db/whmap_data.sql.tgz
db/whmap_data.sql
db/production_data.sql
db/production.sql.gz
.rvmrc
.yardoc/*
db/billing_2010-10-21.sql
coverage/*