<% @page_title = @article.title unless @article.nil? %>
<div class="spiffy-wrap">
  <b class="spiffy">
  <b class="spiffy1"><b></b></b>
  <b class="spiffy2"><b></b></b>
  <b class="spiffy3"></b>
  <b class="spiffy4"></b>
  <b class="spiffy5"></b></b>

  <div class="spiffyfg">
<div class="synopsis"><%= @article.synopsis %></div>
  </div>

  <b class="spiffy">
  <b class="spiffy5"></b>
  <b class="spiffy4"></b>
  <b class="spiffy3"></b>
  <b class="spiffy2"><b></b></b>
  <b class="spiffy1"><b></b></b></b>
</div>

<div id="article_body_"><%= @article.body %></div> 
<div id="spacer"> </div>

<% use_tinymce -%>
<h2>Preview Article</h2> 
<%= render :partial => "article"  %>