<table class='account_table' style='font-size: 90%'>
  <tr>
    <th>Server</th>
  </tr>
  <tr class='odd'>
    <td style='text-align: left;'><%= @server.name %> <%= @server.ip_address%></td>
  </tr>
</table>
