/* Styles for form controls where labels are above the input elements */
/* Set the class to the parent to .blockLabels */
.blockLabels .zField{
	padding-right: 10px;
}

.blockLabels label,
.blockLabels .label{
  display:block;
  float:none;
  padding:0;
  line-height:100%;
  font-weight:bold;
}

.blockLabels .zFieldDiv {
  float: left;
  width: 100%;
}

.blockLabels .zFieldDiv .textInput,
.blockLabels .zFieldDiv .fileInput,
.blockLabels .zFieldDiv textarea,
.blockLabels .selectInput,
.blockLabels .zFieldDiv .checkboxInput {
  width: 100%;
  float: left;
  padding: 0px;
  margin: 0px;
}

.blockLabels .selectInputInline {
  width: auto;
}


.blockLabels .formHint{
  float:right;
  margin:0;
  width:38%;
  clear:none;
  /* user prefs */
  color:#999;
  font-size:80%;
  font-style:italic;
}

.blockLabels .zField {
  margin-top:-1px;
}
