
#content { 
  float: none;
  border-width: 0;  
  width: auto;
}

#layout {
  padding: 0 40px 0 20px; 
  margin-bottom: 30px;  
  
}


  
/* Navigation */  

.account_navigation {

}

.account_navigation ul {
  padding: 0;
  margin: 0;
}

.account_navigation li {
  display:inline;
  padding: 0;
  margin: 0;
}

.account_navigation li span.disabled {
  color: #888888;
}

.account_navigation a, .account_navigation a:visited, .account_navigation a:hover {
  border: none;
  padding:0;
  margin:0;
  font-weight: normal;
  color: #000000;
}

.account_navigation a:hover {
  font-weight: normal;
  color: #CB4415;
}

.account_navigation a.active {
  font-weight: bold;
}

/* Tabs */


.actions {
  margin: 5px 0;
}


.ui-tabs .ui-tabs-panel {
  border:1px solid #DFD9C3;
  background:#F5F3E5 url(jqueryui/south-street/images/ui-bg_highlight-hard_100_f5f3e5_1x100.png) repeat-x scroll 50% top;
  padding: 5px;
}

