/***

   :: Theme Development: q:D rosschapman.net

	Font Palette
	***************************************
	body: 'Trebuchet MS', sans-serif;

	Color Palette
	***************************************
	dropdown green color: #305305;
	footer light green color: #e0ead3;

***/

/* Reset Reloaded: http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
:focus {outline: 0;}
body {line-height: 1;color: black;background: white;}
ol, ul {list-style: none;}
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {text-align: left;font-weight: normal;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

/* General */

body {font: small "Helvetica Neue", Helvetica, Arial, sans-serif; color:#333333;}
h1, h2, h3, h4, h5, h6 {font-weight:normal; font-family: 'Trebuchet MS', sans-serif;}
h1 {margin: 0; padding-bottom: 8px; font-size: 1.7em;}
h2 {font-size:1.5em;margin: 0 0 10px;}
h3 {font-size:1.3em;margin-bottom: 10px; line-height:1;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;height:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
h2.page-title {margin: 1em 0 1em;}
h2.entry-title {margin: 0 0 .2em;}
h2.search-title {padding-top: 3px;}
h3 a {color: #000000;} /* blog titles */
h3 a:hover {background: #eeeeee;}

#content p {margin:0 0 1em;}
/* #content p img {margin:1.5em 1em 1.5em 0;padding:0;} */
#content p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}
#content a, a:focus, a:hover {width:0; height:0;outline:0; /* removes outline */}
#content a {text-decoration:none;}
#content a:hover {text-decoration: underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
img {border:none;}
#content ul li {margin-left: 20px; list-style: disc outside;}
#content ol li {margin-left: 20px; list-style: decimal outside;}
a img {border: none;}

.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix {display: inline-block;}

html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}

/* Layout */

#wrapper {margin: 0; padding: 0; background: url(../images/bg.jpg) top center repeat-x;}
	#pages_home #wrapper {margin: 0; padding: 0; background: url(../images/bg_home.jpg) top center repeat-x;}
#container {width: 1000px; margin: 0 auto; padding-bottom: 10px; font-size: 1em;}
#header {height: 110px;}
#header img {margin: 0; padding-left: 1%; float: left;}
#top p {float: right; margin: 0; padding: 10px 20px 0 0; display: inline; font-size: 1em;}
#top_login, #top_login a {color: #00b160; text-decoration: none;}
#top_twitter {color: #008265;}

#splash-wrap {height: 330px;width: 100%; }

#splash {background-image: url(../images/bg_splash.jpg); background-repeat:no-repeat;}
#splash ul {margin: 0; padding: 190px 0 0 745px;}
#splash li {margin: 0; padding: 0; list-style: none;}
#splash a {display: block;}
#splash #signup a {height: 67px; width: 240px;}
#splash #learn_more a {height: 67px; width: 240px;}

#content {float: left; width: 650px; margin: 30px 0;  padding: 0 40px 0 20px; border-right: 1px solid #dedede; font-size: 1.2em;}
#content ul {margin-left: 15px;}
#sidebar {float: left; width: 20%; margin: 20px 0; padding: 0 1% 0 3%; text-align: right;}
#sidebar ul, 
#sidebar li {margin: 0; padding: 0; list-style: none;}
#sidebar p img {margin: 0; padding: 0;}
#footer {margin: 0; padding-bottom: 2%; clear: left; background: url(../images/ft_bg.gif) top repeat-x #82aa51; color: #e0ead3; font-size: 1.3em;}
#footer-inner {width: 1000px; margin: 0 auto; padding-left: 30px; clear: both;}
.footer-block {margin: 0; padding: 30px 0; border-bottom: 1px solid #9bbd71; clear: both; font-size: 1em;}
.footer-block p, 
.footer-block ul {padding-left: 70px;}
.footer-block li {list-style:none;}
.footer-block h1 {font-size: 1em; font-weight: bold;}
.footer-block a {color: #e0ead3; text-decoration: none;}
.footer_headline_link {color: #115511}
.tiny {font-size: .6em;}
.fb1 {font-size: 1.2em; background: url(../images/fb1_bg.gif) left no-repeat;}
.fb2 {height: 130px; padding: 30px 0 0; margin: 0; font: .8em arial, helvetica, sans-serif; background: url(../images/fb2_bg.gif) left center no-repeat;}
.fb2 ul.first {padding-left: 70px;}
.fb2 ul {float: left; margin: 0; padding-left: 5%;}
.fb3 {color: #4a602f; background: url(../images/fb3_bg.gif) left no-repeat; border: none;}

#spacer {margin-top: 10px; padding-top: 10px;}

/* Hosting Table */

#hosting-10-tease {margin-bottom: 10px; height: 120px; background: url(../images/tb_10.gif) no-repeat;}
#hosting-20-tease {margin-bottom: 10px; height: 120px; background: url(../images/tb_20.gif) no-repeat;}
#hosting-30-tease {margin-bottom: 10px; height: 120px; background: url(../images/tb_30.gif) no-repeat;}

.hosting-table {height: 100%; width: 650px; margin: 0 0 50px;}
#content .hosting-table p.synopsis {position:relative; top: 40px; left: 10px; width: 490px; background: none;	}
#content ul.hosting-table-list {width: 630px; margin: 10px 10px 30px;}
#content ul.hosting-table-list li {margin: 0px 0px 10px 0px; padding:10px 100px 10px 40px; list-style: none inside; background: #F5FCFF url(../images/tb_bg_row.jpg) repeat-x;} 
#content ul.hosting-table-list li span.tooltip {position:relative; top: 4px; margin: 0 10px;} /* tooltip */
#content ul.hosting-table-list li p.check {width: 490px; margin: 0; padding: 10px 70px 10px 0; background: url(../images/tb_check.jpg) right center no-repeat;} /* check */
#content .signup-button {text-align:right; position: relative; right:20px;}

/******************* Blog ********************/
.article_meta { font-size: .8em; margin-top: 5px; }
.pagination {margin: 20px 0;}
.hentry {margin: 20px 0 30px;}
#article_body {margin: 20px 0;}

.synopsis, .alert {padding: 10px 20px	; color: #77a143; font-style: italic; background: #f9ffb9; font-size: .9em; font-weight: bold; text-align: left;}
.alert {font-size: 1em;}
.spiffy-wrap {margin-top: 10px; margin-left: -5px;}
.spiffy{display:block}
.spiffy *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#f9ffb9;}
.spiffy1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #fcffe0;
  border-right:1px solid #fcffe0;
  background:#faffca}
.spiffy2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #fefff8;
  border-right:1px solid #fefff8;
  background:#faffc6}
.spiffy3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #faffc6;
  border-right:1px solid #faffc6;}
.spiffy4{
  border-left:1px solid #fcffe0;
  border-right:1px solid #fcffe0}
.spiffy5{
  border-left:1px solid #faffca;
  border-right:1px solid #faffca}
.spiffyfg{
  background:#f9ffb9}

/* Nav */

#nav {height: 46px; width: 552px; margin-top: 32px; clear: right; float: right; background: url(../images/bg_nav.gif) bottom no-repeat;}
#nav ul {margin: 0; padding: 0;}
#nav li {list-style: none; float: left;}
#nav a {display: block; text-decoration: none;}
#nav a:hover {background: url(../images/bg_nav_hover.gif) no-repeat; }
#nav #home a {height: 46px; width: 120px;}
#nav #home a:hover {background: url(../images/bg_nav_hover.gif) no-repeat; background-position: 0;}
#nav #services a {height: 46px; width: 130px;}
#nav #services a:hover {background: url(../images/bg_nav_hover.gif) no-repeat; background-position: -120px 0;}
#nav #blog a {height: 46px; width: 80px;}
#nav #blog a:hover {background: url(../images/bg_nav_hover.gif) no-repeat; background-position: -250px 0;}
#nav #about a {height: 46px; width: 100px;}
#nav #about a:hover {background: url(../images/bg_nav_hover.gif) no-repeat; background-position: -330px 0}
#nav #contact a {height: 46px; width: 120px;}
#nav #contact a:hover {background: url(../images/bg_nav_hover.gif) no-repeat; background-position: -430px 0}
#nav li#services ul, #nav li#about ul {margin: 46px 0 0 0px;}
#nav li#services ul, #nav li#about ul {padding: 0 0 0 20px; background: #d1ebb1;}
#nav li#services li a, #nav li#about li a {height: auto; padding: 10px 0; color: #77a143;}
#nav li#services ul a:hover, #nav li#about ul a:hover {color: #305305; background: none;}
#nav li ul {position: absolute; width: 100px; left: -999em;}
#nav li:hover ul, #nav li.sfhover ul {left: auto;}
#nav li ul {float: none; clear: both; margin: 0;}

/* Forms */

input, input.title, textarea, select {margin:0.5em 0;border:1px solid #bbb;}
input:active, input:focus, input.title:focus, textarea:focus, select:focus {border:1px solid #666;}
input.title {font-size:1.5em;}


/* User Table */

table#users { width: 100%;} 
table#users th { font-size: 95%; } 
table#users td { font-size: 90%; } 

/* defaults for rails scaffolding */
table.scaffold { border-collapse: separate; }
table.scaffold td { padding: 5px; }

/************** support ticket form ***************/

.field_description { color: #555; font-size: .8em; margin-bottom: 2px; display: block;}
.field_description_radio { color: #555; font-size: .8em; margin-bottom: 2px; display: inline;}

div#support_form ul {
 font-size: .9em;
 margin-bottom: 20px;
}

div#support_form li {
 list-style-position: outside;
 list-style-type: disc;
 margin-left: 15px;
 margin-bottom: 10px;
}

div#support_form input {
 background-color: #cfc;
 display: inline; /* was block */
 }

div#support_form input.sffocus,
div#support_form input:focus, 
div#support_form textarea.sffocus,
div#support_form textarea:focus {
	background-color: #e8ffe8;
}

div#support_form div {
	margin-bottom: 15px;
}

div#support_form fieldset {
	border: none;
}

div#support_form textarea {
background-color: #cfc;
display: block;

}

.errorExplanation { color: red; margin-bottom: 15px;}

#support_sidebar {
	margin-top: 10px;
	text-align: left;
}

#support_sidebar li {
	margin: 10px 0 0;
	padding: 0px 0 0 30px;
	background: url(../images/info.png) top left no-repeat;
}

/******************* rails flash (error messages) ********************/

#notice { color: green; }
.fieldWithErrors { background-color: red;  }
.radio .fieldWithErrors { display: inline; background-color: red; }
.radio .fieldWithErrors input { display: inline; background-color: red; }


/******************* tag clouds *************************************/
.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

#top_tags_sidebar { text-align: left; margin-bottom: 15px }

/******************  text buttons *****************/
#content a.signup {
	font-weight: bold;
	display: block; 
	border: 1px solid black;
	border-bottom: 1px solid black;
	background: #ccffcc;
	width: 225px;
	height: 20px;
	padding: 10px;
	margin: 10px;
}
#content a.signup:hover {
	background: #ffccff;
}
