<h2><%= @user.name %></h2> 
<p>Member since <%= @user.created_at.to_s(:human_date) %></p> 
<p><%= @user.profile %></p>
<h2>Recent Articles</h2>
<% if @articles.nil? %>
	<p>This user has not published any blog articles yet</p>
<% else %>
	<%= render :partial => 'shared/article_index', :locals => { :articles => @articles } %>
<% end %>