<ul class="bullet" id="support_sidebar">
<h2 class="fixes">Common Fixes</h2>
  <li>If your forgot your password, <a href="http://www.sustainablewebsites.com/billing">click here</a> to re-send your welcome email</li>
  <li>Please check the left side of your <a title="browse to your-site.com/cpanel" href="/control-panel">control panel</a> for any issues. Video tutorials are also there.</li>
  <li>You can check to see if your site is online via an independent third-party service such as <a href="http://alertra.com">Alertra.com</a></li>
  <li>Please read our <a href="/article/disclaimer">Technical Support Tutorial and Disclaimer</a> before submitting your first question.</li>
</ul>