<p>
<!-- BoldChat Live Chat Button HTML v3.00 (Type=Web,ChatButton=My Chat Button,ChatWindow=My Chat Window,Website=- None -,Department=- None -) -->
<div style="text-align: center; white-space: nowrap;">
 <a href="https://livechat.boldchat.com/aid/424044645987538374/bc.chat?cwdid=419956374980003131" target="_blank" onclick="window.open((window.pageViewer && pageViewer.link || function(link){return link;})(this.href + (this.href.indexOf('?')>=0 ? '&' : '?') + 'url=' + escape(document.location.href)), 'Chat424044645987538374', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=640,height=480');return false;">
  <div><script language="JavaScript" type="text/javascript"> document.write(unescape('%3Cimg alt="Live chat by BoldChat" src="' + (('https:' == document.location.protocol) ? 'https:' : 'http:') + '//cbi.boldchat.com/aid/424044645987538374/bc.cbi?cbdid=419956375626792094" border="0" /%3E')); </script></div>
 </a>
 <div style="font-family: Arial; font-size: 8pt; color: black;"><a href="http://www.boldchat.com" style="text-decoration: none; color: black;">Live chat</a> by BoldChat</div>
</div>
<!-- /BoldChat Live Chat Button HTML v3.00 -->
</p>
