<ul class="bullet" id="support_sidebar">
	<li class="fixes"><h2>Stay up to date!</h2></li>

<div id="subscribe_sidebar" style="text-align: left; margin-bottom: 20px">

    <!-- email subscribe -->
    <div style="margin-bottom: 10px">
    <form style="padding:3px;" action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=sustainablewebsites', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><p>by email:</p><p><input type="text" style="width:140px" name="email"/></p><input type="hidden" value="sustainablewebsites" name="uri"/><input type="hidden" name="loc" value="en_US"/><input type="submit" value="Click to Subscribe" /></form>
    </div>

    <!-- feedburner subscribe -->
    <a href="http://feeds2.feedburner.com/sustainablewebsites" title="Subscribe to our news feed" rel="alternate" type="application/rss+xml"><img src="/images/blog/feed-icon.gif" alt="rss icon" style="border:0"/></a>

    <!-- follow us on twitter -->
    <div style="margin: 10px 0px">
    <a href="http://twitter.com/sustainableweb"><img src="/images/blog/twitter-follow-me.gif" title="Tweet us on Twitter, twerp!" width="120" height="55" /></a>
    </div>

    <!-- connect with us on facebook -->
    <div style="margin: 10px 0px">
    <a href="http://www.facebook.com/pages/San-Francisco-CA/SustainableWebsitescom/29534178623"><img src="/images/blog/facebook-follow.gif" title="Fan Sustainable Websites on Facebook!" width="120" height="55" /></a>
    </div>

</div>
</ul>