<% content_for :head do %>
  <script type="text/javascript"><![CDATA[
    jQuery('.tooltip').live('mouseover', function () {
      jQuery(this).find('tooltip_text').fadeIn(1000,function() {
        jQuery(this).animate({opacity: 1.0},1000).fadeOut();
      });
    });
  //]]></script>
  
<% end # if page id is 7 ?! for services page %>  

<% content_for :head do %>
  <style type='text/css'>
    #sidebar { display:none;}
    #content { 
      float: none;
      width: auto;
      border-right: 0px;
    }
  </style>
<% end if @page.hide_sidebar %>

<% content_for :head do %>
  <style type='text/css'>
    #content { 
      float: right;
      padding: 0 20px 0 40px;
/*      border-left: 1px solid #dedede */
      border-width: 0 0 0 1px;
    }
  </style>
<% end if @page.flip_sidebar %>


<h2><%= @page.title %></h2> 
<p><%= @page.body %></p>
<% if logged_in_user and logged_in_user.has_role?('Administrator') %> 
<%= link_to "edit page", edit_page_path(@page) %>
<% end %>