<%= title "Forgot Your Password?", :h2 %>
<% form_for @password, :html => { :class => 'login'} do |f| %>
  <div id="login_with_password" style="padding-bottom: 5px; margin-bottom: 2px">
	
  <%= f.error_messages %>
  Enter your Email Address
  <%= label_tag 'email', f.text_field( 'email') + "Email", :style => "line-height: 1.5;" %>
  </div>
<%= f.submit "Submit", :style => 'float: right' %>

<% end %>


