
<p>Your sustainable website is now available!  </p>

Username: <%= @hosting.username %><br/>
Password: <%= @hosting.password %><br/>

<p><%= link_to "CPanel Login", "http://#{@hosting.domain}/cpanel" unless @hosting.server.nil? %></p>

<p>Thanks!</p>

<p>Sustainable Website Support</p>

<p style='font-size: smaller'>
  Manage your sustainable websites from your account page.  <%= link_to "Account Login", account_url(@hosting.account) %>
</p>