<li> 
  <%= role.name %> 
  [<% if @user.roles.map(&:name).include?(role.name) %> 
    <%= link_to 'remove role', 
                user_role_url(:id => role.id, :user_id => @user.id), 
                :method => :delete %> 
  <% else %> 
    <%= link_to 'assign role', 
                user_role_url(:id => role.id, :user_id => @user.id), 
                :method => :put %> 
  <% end %>] 
</li> 


