<h1>Editing Hosting</h1>

<% form_for([@hosting]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @hosting %> |
<%= link_to 'Back', hostings_path %>