<tr id='accounts_users_<%= user.id %>'>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= link_to_remote(image_tag('buttons/remove.png'),:url => {:controller => :accounts_users, :action => :destroy, :account_id => @account, :user_id => user}, :confirm => "Are you sure you want to remove #{user.email}") unless user == current_user %></td>
</tr>