
<% if @account.balance >= 0 %>
  <div class='message'>
  <h3>No payment due  </h3>
  Thanks for staying on top of that!
  </div>
<% else %>
  <div class='alert'>
  <h3>Payment Due</h3>
  <%= number_to_currency -@account.balance %> is due now.  
  </div>
<% end %>

<% if @account.needs_payment_info? %>
<div class='alert'>
  <h3>Billing Info Requires Update</h3>
  <%= link_to "Click here to update your credit card for automated billing.  ", :action => :billing %>
</div>
<% end %>