#flash_messages {
  padding: 8px;
  margin-bottom: 18px;
}
 
#flash_messages p {
  margin-bottom: 0;
  padding: 5px;
}
 
#flash_messages .error p {
  background: #fcc;
  border: 1px solid #f00;
}
 
#flash_messages .warning p {

  border: 1px solid #fd9b5b;
}
 
#flash_messages .notice p {
  border: 1px solid #3cab09;
}