  
/* Vertical Tabs
----------------------------------*/
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .0em .2em .2em; float: left; width: 20%; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0px ; margin: 0 -1px .2em 0;}
   
.ui-tabs-vertical .ui-tabs-nav li a { display:block; float: none ; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { 
  padding-bottom: 0; 
  padding-right: .0px ; 
  border-right-width: 0px ; 
  
}

.ui-tabs-vertical .ui-tabs-panel { 
  float: left; width: 78%;
  padding: 0px ;
  margin: 0px ;
  border-width: 1px ;
  background: #F5F3E5;
 }
      
}