  
/* Vertical Tabs
----------------------------------*/
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .0em .2em .2em; float: left; width: 20%; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0px ; margin: 0 -1px .2em 0;}
   
.ui-tabs-vertical .ui-tabs-nav li a { display:block; float: none ; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { 
  padding-bottom: 0; 
  padding-right: .0px ; 
  border-right-width: 0px ; 
  
}

.ui-tabs-vertical .ui-tabs-panel { 
  float: left; width: 78%;
  padding: 0px ;
  margin: 0px ;
  border-width: 1px ;
  background: #F5F3E5;

}

.ui-tabs-vertical .ui-state-default, 
.ui-tabs-vertical .ui-widget-content .ui-state-default {
  border: 1px solid #327E04; 
  background: #459e00 url(/images/vertical-tabs/ui-bg_glass_30_7bd039_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #ffffff; outline: none;
}

.ui-tabs-vertical .ui-state-active, 
.ui-tabs-vertical .ui-widget-content .ui-state-active {
  border: 1px solid #d4ccb0; 
  background: #F5F3E5;
  font-weight: bold; color: #459e00; outline: none;
}


/*.ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid #327E04; background: #459e00 url(images/ui-bg_highlight-hard_15_459e00_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #ffffff; outline: none; }


.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #327E04; background: #67b021 url(images/ui-bg_highlight-soft_25_67b021_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #ffffff; outline: none; }

.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #d4ccb0; background: #fafaf4 url(images/ui-bg_highlight-hard_100_fafaf4_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #459e00; outline: none; }
*/