<h1>Editing product</h1>

<% form_for(@product) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p><%= f.submit "Update" %> or <%= link_to 'Cancel', products_path %></p>
<% end %>
