
<h1>Register A Domain</h1>

Most domain names are $10.00 a year.  

<div id='choose_domain_message'></div>

<% form_for :domain, :url => {:action => 'check_domain'}, :html => {:onsubmit => "
  if($('#check_domain_button').is(':visible'))
    $.ajax({async:true, data:$.param($(this).serializeArray()) + '&authenticity_token=' + encodeURIComponent('#{form_authenticity_token}'), dataType:'script', type:'post', url:'#{url_for({:action => 'check_domain'})}'});
  else
    $.ajax({async:true, data:$.param($(this).serializeArray()) + '&authenticity_token=' + encodeURIComponent('#{form_authenticity_token}'), dataType:'script', type:'post', url:'#{url_for({:controller => 'cart', :action => "add_domain"})}'}); 
  return false;", 
    :id => 'choose_domain_form'} do |f| %>
  <%= f.text_field :name, :label => "Domain", :style => 'float: left; font-size: 1em;' %>
  <%= submit_to_remote( :check_domain_availability_button, "Check Domain Availability", :url => { :action => "check_domain" }, :button => true, :html =>{:id => 'check_domain_button'}) %>
<% end -%>
<div style='clear: both; margin-top: 40px'></div>
If you already have a domain name then you can skip to the next step
<%= button "Continue",{ :action => "choose_package"}, :style => "float: right" %>
