<% content_for :head do %>
  <style type='text/css'>
    #content { 
      width: 500px;
    }
    #sidebar {width: auto;}
  </style>
<% end %>

<% content_for :sidebar do %>
  <%= render 'cart/items' %>
<% end %>

<h1>Choose Your Domain</h1>

<% form_remote_for @domain, :url => { :controller => 'cart', :action => "add_domain" } do |f| -%>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
  <%= f.submit "Add to Cart", :disable_with => 'Adding to Cart...' %>
<% end -%>

