<%# render "head_and_sidebar" %>
<%= render 'navigation' %>

Confirm your order and complete your purchase.

<%= error_messages_for :account, :order %>

<%= form_tag :action => 'payment' %>
  <%= submit_tag "Purchase", :disable_with => "Purchasing..."%>
</form>