<h2>Thanks for your purchase!</h2>

<p>Your order will be activated as soon as it is reviewed by an administrator.    </p>
<br/>
<p>You can view your account <%= link_to 'here', :controller => :account, :action => :index  %>.</p> 


