<h1>Editing account</h1>

<% z_form_for(@account) do |f| %>
  <%= f.error_messages %>
  <% f.fieldset :type => "inline" do %>
    <%= render @account %>
  <% end %>
  <%= f.submit 'Update', :prefix => button( 'Back', accounts_path ) %>

<% end %>

