<h1>New account</h1>

<% z_form_for(@account) do |f| %>
  <%= f.error_messages %>
  <%= render @account %>
  
  <%= f.submit 'Create', :after => button( 'Back', accounts_path ) %>
  <%= button 'Back', accounts_path %>
  
  <br style='clear: both'/>
<% end %>

